<h2 font="bold">Purchase Location</h2>

<div>
  <label for="location">
    Location
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="location">select location</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>

<div>
  <label for="puradd">
    Address
  </label>
  <input id="puradd" type="text" formControlName="puradd">
</div>

<div class="row">
  <div class="col-md-3">
    <label for="purcity">
      City
    </label>
    <input id="purcity" type="text" formControlName="purcity">
  </div>

  <div class="col-md-3">
    <label for="purstate">
      State
    </label>
    <input id="purstate" type="text" formControlName="purstate">
  </div>

  <div class="col-md-3">
    <label for="purzip">
      Zip
    </label>
    <input id="purzip" type="text" formControlName="purzip">
  </div>
</div>

<div>
  <label for="purcountry">
    Country
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="country">select country</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>

<div>
  <label for="payterms">
    Payment Terms
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="3odays">3o days</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>
