<h2 font="bold">Supplier</h2>

<div>
  <label for="supplier">
    Supplier
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="supplier">select supplier</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>

<div>
  <label for="address">
    Select Address
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="address">select address</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>

<div>
  <label for="add">
    Address
  </label>
  <input id="add" type="text" formControlName="add">
</div>

<div class="row">
  <div class="col-md-3">
    <label for="city">
      City
    </label>
    <input id="city" type="text" formControlName="city">
  </div>

  <div class="col-md-3">
    <label for="state">
      State
    </label>
    <input id="state" type="text" formControlName="state">
  </div>

  <div class="col-md-3">
    <label for="zip">
      Zip
    </label>
    <input id="zip" type="text" formControlName="zip">
  </div>
</div>

<div>
  <label for="loccountry">
    Country
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="country">select country</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>

<div>
  <label for="payterms">
    Payment Terms
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="3odays">3o days</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>
