<h2 font="bold">Ship To Location</h2>

<div>
  <label for="shiptoloc">
    Ship To Location
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="shiptoloc">select ship to loc</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>

<div>
  <label for="altn">
    Altn
  </label>
  <input id="altn" type="text" formControlName="altn">
</div>


<div>
  <label for="shipadd">
    Address
  </label>
  <input id="shipadd" type="text" formControlName="shipadd">
</div>

<div class="row">
  <div class="col-md-3">
    <label for="shipcity">
      City
    </label>
    <input id="shipcity" type="text" formControlName="shipcity">
  </div>

  <div class="col-md-3">
    <label for="shipstate">
      State
    </label>
    <input id="shipstate" type="text" formControlName="shipstate">
  </div>

  <div class="col-md-3">
    <label for="shipzip">
      Zip
    </label>
    <input id="shipzip" type="text" formControlName="shipzip">
  </div>
</div>

<div>
  <label for="shipcountry">
    Country
  </label>
  <mat-form-field appearance="fill">
    <select matNativeControl required>
      <option value="country">select country</option>
      <option value="val">val1</option>
      <option value="val2">val2</option>
      <option value="val3">val3</option>
    </select>
  </mat-form-field>
</div>
